<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Name: <%= @advise['name'] %></p>
    <p>Content: <%= @advise['content'] %></p>
  </body>
</html>

