<div class="wrapper">
  <header class="nameTitle">
    <div class="nameTitle">管理玩家</div>
  </header>
  <table>
    <tr>
      <td>名稱</td>
      <td>動作</td>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <th><%= player.name %></th>  
        <th>
          <%= link_to '編輯', edit_liff_player_path(player.id, source_id: params[:source_id]), class: 'edit' %> &nbsp; &nbsp;   
          <%= link_to '切換', trigger_hidden_liff_player_path(player.id, source_id: params[:source_id]), method: :post %>
          <% if player.hidden %>
            <span class="show">顯示中</span>
          <% else %>
            <span class="hidden">隱藏中</span>
          <% end %>
        </th>
      </tr>
    <% end %>
  </table>
</div>