<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>新增玩家</title>
  </head>
  <body>
      <h2>新增玩家<h2>
      <%= form_tag(liff_players_path) do %>
        名稱:<br>
        <input type="text" name="name"><br>
        暱稱:<br>
        <input type="text" name="nickname"><br>
        <input type="hidden" name="source_id" value="<%= params[:source_id] %>">
        <input type="submit" value="go">
      <% end %>

      <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
      <script>
        function initApp() {
        }

        liff.init({
          liffId: "1653496919-gn1xDAZY"
        }).then(() => {
          initApp();
        }).catch((err) => {
          alert(err);
        })
      </script>
  </body>
</html>
