

img {
  width: 100%;
  height: auto;
}

input[type="text"], input[type="password"], input[type="tel"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 12px;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #999999;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #999999;
}

input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #999999;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder {
  color: #999999;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #51ad42;
  border-radius: 4px;
  background: #fff;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 7px 0 0;
}

input[type="checkbox"]:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  border-bottom: 2px solid #51ad42;
  border-left: 2px solid #51ad42;
  width: 8px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: inherit;
}

input[type="submit"] {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input.normal {
  background: #51ad42;
  color: #fff;
}

button.noraml {
  background: #51ad42;
  color: #fff;
}

button.secondary {
  border: 1px solid #cccccc;
  color: #51ad42;
  background: #ffffff;
}

a.secondary {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #cccccc;
  color: #51ad42;
  background: #ffffff;
}

a {
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px solid #eeeeee;
  width: 95%;
  margin: 20px 0;
}

footer {
  color: #666666;
  font-size: 10px;
  margin: 8px 0;
  text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  margin-top: 25px;
  margin-bottom: 18px;
  width: 51px;
}

header .title {
  font-size: 24px;
  font-weight: bold;
}

header .subTitle {
  font-size: 12px;
  margin-bottom: 18px;
}

header .nameTitle {
  margin: 55px 0 25px;
  font-size: 24px;
  font-weight: bold;
}

.googleLogin {
  font-size: 14px;
  width: 60%;
}

.googleLogin button {
  color: #666666;
}

.googleLogin img {
  width: 20px;
  margin-right: 8px;
}

.normalLogin {
  width: 60%;
}

.normalLogin .else {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.normalLogin .else a {
  color: #51ad42;
}

.normalLogin .remember {
  font-size: 13px;
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputValue {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 0.7fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "side" "input";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.inputValue .name, .inputValue .name1, .inputValue .name2, .inputValue .name3 {
  grid-area: 'side';
}

.inputValue .point, .inputValue .small_input, .inputValue .point3 {
  grid-area: 'input';
}

.inputValue input {
  margin-bottom: 5px;
}

.inputValue .name, .inputValue .point {
  margin-bottom: 16px;
}

table {
  margin-top: 45px;
  width: calc(100% + 40px);
  text-align: center;
  border-spacing: 0;
  border-bottom: 1px solid #eeeeee;
}

table .edit {
  color: green;
  font-size: 12;
  font-weight: 100;
}

table .delete {
  color: red;
  font-size: 12;
  font-weight: 100;
}

table .hidden {
  color: red;
  font-size: 12;
  font-weight: 100;
}

table .show {
  color: blue;
  font-size: 12;
  font-weight: 100;
}

table tr:first-child {
  background: #eeeeee;
}

table th, table td {
  padding: 8px 0;
}
/*# sourceMappingURL=main.css.map */

.mobile {
  color: #333333;
  font-family: noto sans, helvetica;
  line-height: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}