<%= image_tag("logo_green.jpg", class: 'logo') %>
<%= image_tag("qr_code.png", class: 'qr_code') %>
<h2>掃描QR CODE來加入Line小幫手！</h2>
<hr>
<h2>要是還不熟悉的話可以觀看使用教學或是建立範例房間</h2>

<h2>如果對網站有什麼建議或是要罵的可以填選表單跟我說喔><</h2>