<div class="wrapper">
  <header class="nameTitle">
    <div class="nameTitle"><%= @player.name %></div>
  </header>
<table class="table table-bordered">
  <tr>
    <td>日期</td>
    <td>分數</td>
  </tr>
  <% @reports.each do |report| %>
    <tr>
      <td><%= report[:date] %></td>
      <td><%= report[:score] %></td>
    </tr>
  <% end %>
</table>
</div>

<%= link_to '返回', liff_records_analyse_path(source_id: params[:source_id]), class: 'secondary' %>