<h1>記錄新遊戲</h1>
<%= form_tag('/liff2/games') do %>
  <input type="hidden" name="room_id" value="<%= @room.id %>" />
  <table>
    <tr>
      <th>姓名</th>
      <th>分數</th>
    </tr>
    <% @room.players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><input type="number" name="records[][score]" /></td>
      <input
        type="hidden"
        name="records[][player_id]"
        value="<%= player.id %>"
      />
    </tr>
    <% end %>
  </table>
  <button type="submit">Send</button>
<% end %>
  <p>總分: 300</p>
  <button onclick="checkSum()">送出</button>

  <script>
    const checkSum = () => {
      confirm("總分不為零，確認送出？")
    }
  </script>
</form>
