<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>LIFF Starter</title>
      
  </head>
  <body>
      <h2>新增玩家<h2>
      <%= form_tag(liff_user_create_path) do %>
      
        Name:<br>
        <input type="text" name="name"><br>
        Nickame:<br>
        <input type="text" name="nickname"><br>
        <input type="hidden" id="source_id" name="source_id">
        <input type="submit" value="go">
      <% end %>


      <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
      <script>
        function initApp() {
          context = liff.getContext();
          source_id = context['userId'];
          document.getElementById('source_id').value = source_id
        }

        let myLiffId = "1653496919-KzWxBJEZ";

        liff.init({
          liffId: myLiffId
        }).then(() => {
          
          initApp();
        }).catch((err) => {
          console.log(err);
        })
       
      </script>
  </body>
</html>
