<h2>此房間用戶</h2>
<table class="table table-bordered">
  <tr>
    <td>名稱</td>
    <td>Email</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
</table>
<%= link_to '返回', room_path(@room) %>