<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>

<script>
  const queryString = window.location.search
  const urlParams = new URLSearchParams(queryString)
  const targetPath = urlParams.get("target_path")
  const sourceId = urlParams.get("source_id")
  const nextUrl = urlParams.get("next_url")

  liff
    .init({
      liffId: "1653880740-r34PQk4w",
    })
    .then(() => {
      window.location.replace(nextUrl)
    })

  // liff
  //   .init({
  //     liffId: "1653880740-r34PQk4w",
  //   })
  //   .then(() => {
  //     window.location.replace("/liff/" + targetPath + "?source_id=" + sourceId)
  //   })
  //   .catch((err) => {
  //     alert(err)
  //   })
</script>
<html>
  <body>
    <h1>Hello world</h1>
    <%= link_to 'new game', new_liff2_game_path %>
  </body>
</html>
