.home_wrapper{
  width: 480px;
  height: 650px;

  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);

  background-color: #ffffff;
}

.outer_wrapper{
  position: relative;
  height: 100%;

  padding: 30px 40px;
}

.logo{
  padding: 20px;

  h1{
    font-size: 50px;
    color: #0fabd1;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 20px;
  margin: auto;

  .full{
    width: 300px;
  }

  .sign_up {
    margin-top: 40px;
  }

  button{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;

    width: 230px;
    height: 50px;
    border: 2px solid #17b5da;
    border-radius: 25px;

    background-color: transparent;
    color: #17b5da;

    margin: auto;

    &:hover{
      border: none;
      background-color: #17b5da;

      color: #ffffff;
    }
  }
}

.check{
  padding: 10px 0;
  span{
    margin: 10px;
  }
}