.home_div {
  margin: auto;
  width: 70%;
  background-color: dimgray;
  padding: 30px;
}

.home_div input {
  height: 50px;
}

.home_div input[type=checkbox] {
    transform: scale(2);
}

.home_div input[type=submit] {
  width: 100%;
  background-color: gainsboro;
}