<p id="the-p">closing....</p>
<script>
  item = document.querySelector('#the-p')
  item.innerHTML = 'GOOG'
  try {
    liff.init({
        liffId: '1656907430-GzJdd9Ed',
      }).then(() => {
        liff.closeWindow();
      }).catch((err) => {
      item.innerHTML = 'BAD'

      });
      item.innerHTML = 'END'

  } catch(err) {
    item.innerHTML = err
  }
  
</script>
