<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>LIFF Starter</title>
      
  </head>
  <body>

      <div id="btn">btn</div>
      <div id="close">close</div>
      <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
      <script>
        function initApp() {
          console.log("language: " + liff.getLanguage());
          console.log("sdkVersion: " + liff.getVersion());
          console.log("is in client?: " + liff.isInClient());
          console.log("is login?: " + liff.isLoggedIn());
          console.log("OS: " + liff.getOS());


          document.getElementById('btn').addEventListener('click', function() {
            liff.openWindow({
              url: 'https://google.com',
              external: true
            })
          });

          document.getElementById('close').addEventListener('click', function() {
            liff.sendMessages([{
              'type': 'text',
              'text': 'You have good'
            }]).then(function() {
              window.alert('Message sent');
            }).catch(function(error) {
              window.alert('Error sending: ' + error)
            });
          })
        }
        const useNodeJs = false;
        const defaultLiffId = "";

        let myLiffId = "1653496919-KzWxBJEZ";

        

        liff.init({
          liffId: myLiffId
        }).then(() => {
          console.log('yes');
          initApp();
        }).catch((err) => {
          console.log(err);
        })

        
      </script>
  </body>
</html>
